<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    cccccc
    {{company_profile.company_name}}
    {{company_profile.description}}
    {{company_profile.industry}}
    <img src="{% if profile_picture %}{{ profile_picture.url }}{% else %}{% static 'images/logo.png' %}{% endif %}" alt="Company Profile Picture" width="150" height="150">
</body>
</html>