<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/company_job_posting.css' %}">
    <link rel="stylesheet" href="{% static 'css/company_job_posting1.css' %}">
    <link rel="stylesheet" href="{% static 'css/company_dashboard1.css'%}">
    <title>Company Pannel</title>
</head>

<body>
    <!-- Sidebar -->
    <div class="sidebar">
        <a href="#" class="logo">
            <i class='bx bx-code-alt'></i>
            <div class="logo-name"><span>Company</span>Panel</div>
        </a>
        <ul class="side-menu">
            <li><a href="{% url 'company_dashboard' %}"><i class='bx bxs-dashboard'></i>Dashboard</a></li>
            <li><a href="{% url 'post_job' %}"><i class='bx bx-analyse'></i>Post New Job</a></li>
            <li  class="active"><a href="{% url 'posted_jobs' %}"><i class='bx bx-group'></i>Posted Jobs</a></li>
            <li><a href="{% url 'job_applications' %}"><i class='bx bx-cog'></i>Job Applications</a></li>
            <li><a href="{% url 'view_company_profile' %}"><i class='bx bx-group'></i>User Profile</a></li>
            <li><a href="{% url 'edit_company_profile' %}"><i class='bx bx-cog'></i>Edit Profile</a></li>
        </ul>
        <ul class="side-menu">
            <li>
                <a href="{% url 'logout' %}" class="logout">
                    <i class='bx bx-log-out-circle'></i>
                    Logout
                </a>
            </li>
        </ul>
    </div>
    <!-- End of Sidebar -->

    <!-- Main Content -->
    <div class="content">
        <!-- Navbar -->
        <nav>
            <i class='bx bx-menu'></i>
            <form action="#">
                <div class="form-input">
                    <input type="search" placeholder="Search...">
                    <button class="search-btn" type="submit"><i class='bx bx-search'></i></button>
                </div>
            </form>
            <input type="checkbox" id="theme-toggle" hidden>
            <label for="theme-toggle" class="theme-toggle"></label>
            <a href="#" class="notif">
                <i class='bx bx-bell'></i>
                <span class="count">12</span>
            </a>
            <a href="{% url 'view_company_profile' %}" class="profile">
                <img src="{% if profile_picture %}{{ profile_picture.url }}{% else %}{% static 'images/logo.png' %}{% endif %}"
                    alt="Profile Picture">
                </a>
        </nav>
        <!-- End of Navbar -->
        <!-- Main content -->
        <div class="box-wrap">
            <div class="table-wrap">
                <h2>Posted Jobs</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Application Deadline</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for job_posting in job_postings %}
                        <tr class="row">
                            <td>{{ job_posting.title }}</td>
                            <td>{{ job_posting.description }}</td>
                            <td>{{ job_posting.application_deadline }}</td>
                            <td>
                                <button type="button" class="btn">
                                  <i class="me-1 action-icon bi bi-file-earmark-richtext text-primary"></i>
                                  <a id="edit" href="{% url 'edit_job_posting' job_posting.id %}">Edit</a>
                                </button>
                            </td>
                            
                        </tr>
                        {% endfor %}              
                    </tbody>
                </table>
            </div>
            <button id="post"><a href="{% url 'post_job'%}" style="text-decoration: none; color:rgb(8, 0, 255)">Post New Job</button></a>
        </div>
    </div>
    <script src="{% static 'js/company_job_posting.js' %}"></script>
    <!-- <script src="{% static 'js/company_dashboard1.js'%}"></script> -->
</body>

</html>