<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{% static 'css/home.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/home1.css' %}">
    <link rel="stylesheet" href="{% static 'css/home1_2.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">
    
    <title>Campus Recruitment</title>
</head>

<body>
    <div id="wrapper">
        <div id="main">
            <div id="side-menu" class="hidden">
                <div id="part-2">
                    <h4 id="home"><a href="{% url 'home' %}">Home</a></h4>

                    <h4><a href="#">About Us</a></h4>
                    <!-- {% if user.is_authenticated %}
                        {% if user.is_student %} -->
                    <h4 class="user-profile"><a href="{% url 'student_dashboard' %}">Dashboard</a></h4>
                    <!-- {% endif %} -->
                    <!-- {% if user.is_company %} -->
                    <h4 class="user-profile"><a href="{% url 'company_dashboard' %}">Dashboard</a></h4>
                    <!-- {% endif %} -->
                    <h4 class="user-profile" id="logout"><a href="{% url 'logout' %}">Logout</a></h4>
                    <!-- {% else %} -->
                    <h4 id="login"><a href="{% url 'user_login' %}">Login</a></h4>
                    <h4 id="register"><a href="{% url 'registration' %}">Register</a></h4>
                    <!-- {% endif %} -->
                </div>
            </div>
            <div id="nav">
                <div id="part-1">
                    <h2>Campus <span>Recruitment</span></h2>
                </div>
                <div id="part-2">
                    <h4 id="home"><a href="{% url 'home' %}">Home</a></h4>
                    <h4><a href="#page2" onclick="window.location.reload(false);">About Us</a></h4>
                    {% if user.is_authenticated %}
                        {% if user.is_student %}
                    <h4 class="user-profile"><a href="{% url 'student_dashboard' %}">Dashboard</a></h4>
                    {% endif %}
                    {% if user.is_company %}
                    <h4 class="user-profile"><a href="{% url 'company_dashboard' %}">Dashboard</a></h4>
                    {% endif %}
                    <h4 class="user-profile" id="logout"><a href="{% url 'logout' %}">Logout</a></h4>
                    {% else %}
                    <h4 id="login"><a href="{% url 'user_login' %}">Login</a></h4>
                    <h4 id="register"><a href="{% url 'registration' %}">Register</a></h4>
                    {% endif %}
                </div>
                <div id="button">
                    <i id="icon" class="ri-menu-line"></i>
                </div>
            </div>
            <div id="content">
                <div id="text">
                    <h3>College Campus Placement Management System</h3>
                    <p>Welcome to Campus Recruitment Management System! We're dedicated to advancing education through
                        innovative, user-friendly solutions. Our mission is to enhance learning by providing accessible,
                        customer-centric services. We're committed to innovation, integrity, and making education
                        accessible to all. Your success is our priority.</p>
                    <button>Learn More</button>
                </div>
            </div>
            <img src="{% static 'images/home.png' %}" alt="">
            
        </div>
        <div id="page2">
            <div class="company">
                <div class="company-info">
                    <span>ABOUT <span class="our">US</span></span>
                    <p>
                        Welcome to <b>Campus Recruitment Management System!</b>, where we are shaping the future
                        of campus management for educational institutions. At the core of our mission is a commitment to
                        delivering innovative, user-friendly, and cost-effective solutions that empower educational
                        organizations to thrive in the digital era.
                        <br>
                        <br>
                        Mission: Our mission is simple yet profound. We exist to provide educational institutions with
                        the tools they need to succeed. We aim to streamline administrative processes, enhance the
                        overall learning experience, and make education more accessible to everyone. We believe that
                        education is a fundamental right, and our mission is to ensure that no one is left behind in the
                        digital transformation of the education sector.
                        <br>
                        <br>
                        Values: Our values guide our every action:
                        <br>
                        <br>
                        Innovation: We relentlessly explore emerging technologies and adapt our solutions to stay at the
                        forefront of the industry. Our aim is to provide cutting-edge tools that empower educators and
                        students.
                        <br>
                        <br>
                        Accessibility: We are committed to making education accessible to all. Our solutions are
                        designed to break down barriers and ensure that every learner has an equal opportunity.
                        <br>
                        <br>
                        Customer-Centric: We put our customers first. Our team is dedicated to providing exceptional
                        service and support to ensure our clients' success.
                        <br>
                        <br>
                        Integrity: We operate with transparency, honesty, and integrity in all our interactions. Trust
                        is at the core of our relationships with customers and partners.
                        <br>
                        <br>
                        At Campus Recruitment Management System!, we are more than just a technology company; we are an
                        education partner dedicated to transforming the educational landscape for a brighter future.
                    </p>
                </div>
            </div>
            <!-- ---------------------------------------------------------------------------------------------------------------------- -->
            <!-- ----------------------------------------------------team-------------------------------------------------------------- -->
            <div class="team"><span>OUR TEAM</span></div>
            <div class="container">
                <div class="card">
                    <div class="card-image loading" style="max-height: 324.6px;"><img src="{% static 'images/profile-1.jpg' %}" alt="" /></div>
                    <div class="card-info">
                        <h3 class="card-title loading"><span>Aryan <span class="yellow-surname">Pardhi</span></span>
                        </h3>
                        <p class="card-description loading">
                            <span class="personal-info">
                                <span class="info">Web Developing (Front-End) Head</span> <br>
                                Pursuing CS Engineering (IPS Academy Indore) <br>
                                Email: <a href="">aryan.pardhi02@gmail.com</a>
                            </span>
                        </p>
                        <div class="card-mediaIcons">
                            <a href="" class="loading" target="on_blank"><i class="ri-linkedin-fill"></i></a>
                            <a href="" class="loading" target="on_blank"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image loading" style="max-height: 324.6px;"><img src="{% static 'images/profile-1.jpg' %}" alt="" /></div>
                    <div class="card-info">
                        <h3 class="card-title loading"><span>Geetansh <span class="yellow-surname">Pardhi</span></span>
                        </h3>
                        <p class="card-description loading">
                            <span class="personal-info">
                                <span class="info">Web Developing (Back-End) Head</span> <br>
                                Pursuing CS Engineering (IPS Academy Indore) <br>
                                Email: <a href="mailto:'harshsunwani11@gmail.com'">x@gmail.com</a>
                            </span>
                        </p>
                        <div class="card-mediaIcons">
                            <a href="#" class="loading" target="on_blank"><i class="ri-linkedin-fill"></i></a>
                            <a href="#" class="loading" target="on_blank"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image loading" style="max-height: 324.6px;"><img src="{% static 'images/profile-1.jpg' %}" alt="" /></div>
                    <div class="card-info">
                        <h3 class="card-title loading"><span>Devesh <span class="yellow-surname">Malani</span></span>
                        </h3>
                        <p class="card-description loading">
                            <span class="personal-info">
                                <span class="info">Designing & Management Head</span> <br>
                                Pursuing CS Engineering (IPS Academy Indore) <br>
                                Email: <a href="#">x@gmail.com</a>
                            </span>
                        </p>
                        <div class="card-mediaIcons">
                            <a href="#" class="loading" target="on_blank"><i class="ri-linkedin-fill"></i></a>
                            <a href="#" class="loading" target="on_blank"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image loading" style="max-height: 324.6px;"><img src="{% static 'images/profile-1.jpg' %}" alt="" /></div>
                    <div class="card-info">
                        <h3 class="card-title loading"><span>Gourav <span class="yellow-surname">Verma</span></span>
                        </h3>
                        <p class="card-description loading">
                            <span class="personal-info">
                                <span class="info">Designing & Management Head</span> <br>
                                Pursuing CS Engineering (IPS Academy Indore)<br>
                                Email: <a href="#">x@gmail.com</a>
                            </span>
                        </p>
                        <div class="card-mediaIcons">
                            <a href="#" class="loading" target="on_blank"><i class="ri-linkedin-fill"></i></a>
                            <a href="#" class="loading" target="on_blank"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ----------------------------------------footer------------------------------------------ -->
            <footer>
                <div class="content">
                    <div class="top">
                        <div class="logo-details">
                            <span class="logo_name">Placify</span>
                        </div>
                        <div class="media-icons">
                            <a target="on_blank" href="#"><i class="ri-linkedin-fill"></i></a>
                            <a target="on_blank" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="link-boxes">
                        <ul class="box">
                            <li class="link_name">Links</li>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About Us</a></li>

                        </ul>
                        <ul class="box">
                            <li class="link_name">Legal Info</li>
                            <li><a href="#">Licence</a></li>
                            <li><a href="#">Terms and Conditions</a></li>
                            <li><a href="#">Privacy Policies</a></li>

                        </ul>
                        <ul class="box">
                            <li class="link_name">Contact</li>
                            <li><a target="on_blank" href="tel:+919079680135">+91 xxxx-xx-xxxx</a></li>
                            <li><a target="on_blank"
                                    href="mailto:'connectpicoindia@gmail.com'">example@gmail.com</a></li>
                        </ul>
                    </div>
                </div>

                <div class="bottom-details">
                    <div class="bottom_text">
                        <span class="copyright_text">Copyright © 2023 <a href="#">Jobwale.</a></span>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js" integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js" integrity="sha512-Ic9xkERjyZ1xgJ5svx3y0u3xrvfT/uPkV99LBwe68xjy/mGtO+4eURHZBW2xW4SZbFrF1Tf090XqB+EVgXnVjw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script> -->
    <script src="{% static 'js/home1.js' %}"></script>
    <script src="{% static 'js/home1_2.js' %}"></script>
    <!-- <script src="{% static 'js/home.js' %}"></script> -->
</body>

</html>