<h1>Job Applications</h1>
  <ul>
    {% for application in job_applications %}
      <li>
        <p>Applicant: {{ application.applicant.name }}</p>
        <p>10th%: {{ application.class_10th_percentage }}</p>
        <p>12th%: {{ application.class_12th_percentage }}</p>
        <p>application date: {{ application.application_date }}</p>
        <p>10th board: {{ application.class_10th_board }}</p>
        <p>12th board : {{ application.class_12th_board }}</p>
        <p>aggregate cgpa : {{ application.aggregate_cgpa }}</p>
        <p>Cover Letter: {{ application.cover_letter }}</p>
        <p>
          <a href="{{ application.resume.url }}" download>Download Resume</a>
        </p>
        <p>Status: {{ application.status }}</p>
        <form method="post" action="{% url 'accept_application' application.id %}">
          {% csrf_token %}
          <button type="submit">Accept</button>
        </form>
        <form method="post" action="{% url 'reject_application' application.id %}">
          {% csrf_token %}
          <button type="submit">Reject</button>
        </form>
      </li>
    {% empty %}
      <p>No job applications available.</p>
    {% endfor %}
  </ul>