<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <!--=============== REMIXICONS ===============-->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" crossorigin="">

   <!--=============== CSS ===============-->
   <link rel="stylesheet" href="{% static 'css/postjob.css' %}">

   <title>Post a Job</title>
</head>

<body>
   <div class="login">
      <img src="{% static 'images/jobpost.png' %}" alt="image" class="login__bg">

      <form action="" class="login__form" method="post">
         {% csrf_token %}
         <h1 class="login__title">Post Vacancy</h1>

         <div class="login__inputs">
            <div class="login__box">
               <input name="title" id="id_title" type="text" placeholder="Job Title" required class="login__input">
            </div>

            <div class="login__box">
                <label for="jobDescription">Description:</label>
                <textarea id="jobDescription" name="description" rows="4" cols="4" required class="login__input"></textarea>
            </div>

            <div class="login__box">
                <label for="id_application_deadline">Deadline:</label>
                <input name="application_deadline" id="id_application_deadline" type="date" placeholder="" required class="login__input" pattern="\d{4}-\d{2}-\d{2}">
            </div>

            <div class="login__box" id="is-active-box">
                <label for="id_is_active">Is Active:</label>
                <input type="checkbox" name="is_active" id="id_is_active" required class="login__input">
            </div>
         </div>
         <button type="submit" class="login__button">Post</button>
      </form>
   </div>
   <script src="{% static 'js/postjob.js' %}"></script>
</body>

</html>
