<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <!--=============== REMIXICONS ===============-->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" crossorigin="">

   <!--=============== CSS ===============-->
   <link rel="stylesheet" href="{% static 'css/register.css' %}">

   <title>Registration Form</title>
</head>

<body>
   {% if messages %}
      <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
   <div class="login">
      <img src="{% static 'images/register_bg.png'%}" alt="image" class="login__bg">
      
      <form method="post" class="login__form">
         {% csrf_token %}
         <h1 class="login__title">Register</h1>
     
         <div class="login__inputs">
             <div class="login__box">
                 <input type="text" id="id_username" name="username" placeholder="Username" required class="login__input">
                 <i class="ri-mail-fill"></i>
             </div>
     
             <div class="login__box">
                 <input type="email" id="id_email" name="email" placeholder="Email" required class="login__input">
                 <i class="ri-lock-2-fill"></i>
             </div>
     
             <div class="login__box">
                 <input type="text" id="id_phone_number" name="phone_number" placeholder="Phone Number" required class="login__input">
                 <i class="ri-lock-2-fill"></i>
             </div>
     
             <div class="login__box">
                 <input type="password" id="id_password1" name="password1" placeholder="Password" required class="login__input">
                 <i class="ri-lock-2-fill"></i>
             </div>
     
             <div class="login__box">
                 <input type="password" id="id_password2" name="password2" placeholder="Confirm Password" required class="login__input">
                 <i class="ri-lock-2-fill"></i>
             </div>
     
             <div class="inner-wrapper">
                 <div class="hex-select hex-select-js">
                     <select id="id_role" name="role" required>
                        <option value="None">None</option>
                        <option value="student">Student</option>
                        <option value="company">Company</option>
                     </select>
                 </div>
             </div>
         </div>
         <button type="submit" class="login__button">Register</button>
     </form>
     
     
   </div>
   
   <script src="{% static 'js/registration.js' %}"></script>
</body>

</html>