<!DOCTYPE html>
{% load static%}'
<html>
<head>
    <title>Student Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/student_dashboard.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'student_dashboard' %}" class="active">Student Dashboard</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <h1>Welcome to the Student Dashboard</h1>
        <div class="dashboard-content">

            <a href="{% url 'view_student_profile' %}">profile</a></br>
            <a href="{% url 'edit_student_profile' %}">edit profile</a></br>
            <a href="{% url 'job_listing' %}">apply for jobs</a></br>
            <a href="{% url 'applied_jobs' %}">applied jobs</a>
            <!-- Add content specific to the student dashboard -->
        </div>

        <h3>Recently Posted Jobs</h3>
        <ul>
        {% for job in recent_jobs %}
        <li>
        <strong>{{ job.title }}</strong><br>
        {{ job.description }}<br>
        Application Deadline: {{ job.application_deadline }}
        </li>
        {% empty %}
        <li>No jobs available at the moment.</li>
        {% endfor %}
</ul>
    </div>
</body>
</html>