body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #6b6b6b;
  }

  .container {
      position: relative;
      max-width: 491px;
      margin: 64px auto;
      padding: 18px 61px;
      background-color: #ffffff;
      border-radius: 5px;
      box-shadow: 10px 5px 5px rgb(45, 45, 45);
  }

  h2 {
    text-align: center;
  }

  label {
    display: block;
    margin-bottom: 10px;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="password"],
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .form-group {
    display: flex;
    flex-direction: column;
  }

  .form-group label {
    margin-bottom: 5px;
  }

  .role-label {
    margin-top: 15px;
  }

  .radio-group {
    display: flex;
  }

  .radio-group label {
    margin-right: 10px;
  }

  button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }

  button:hover {
    background-color: #0056b3;
  }