<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{% block title %}My Website{% endblock %}</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <ul class="nav-list">
                <li class="nav-item"><a href="#">Home</a></li>
                <li class="nav-item"><a href="#">About</a></li>
                <li class="nav-item"><a href="#">Contact</a></li>
                
                <div class="nav-item">
                    {% if user.is_authenticated %}
                    {% if user.is_student %}
                       <!-- Display student dashboard link when a student is logged in -->
                       <li><a href="{% url 'student_dashboard' %}">Dashboard</a></li>
                    {% endif %}
                    
                    {% if user.is_company %}
                       <!-- Display company dashboard link when a company is logged in -->
                       <li><a href="{% url 'company_dashboard' %}">Dashboard</a></li>
                    {% endif %}
                    
                    <!-- Display logout link for all authenticated users -->
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                 {% else %}
                    <!-- Display login and registration links when the user is not logged in -->
                    <li><a href="{% url 'user_login' %}">Login</a></li>
                    <li><a href="{% url 'registration' %}">Register</a></li>
                 {% endif %}
                </div>
            </ul>
        </nav>
    </header>
    {% block body%}
    {% endblock %}
</body>
</html>
